/* @import url('open-props/normalize.min.css'); */
/* @import url('open-props/buttons.min.css'); */

/**
 * Find styles at https://open-props.style/!
 */

 [color-scheme="light"] {
    --brand-background: var(--gray-3);
    --brand-font-color: var(--gray-9);
 }

 [color-scheme="dark"] {
    --brand-background: var(--gray-8);
    --brand-font-color: var(--gray-0);
 }

body {
    background-color: var(--brand-background);
    color: var(--brand-font-color);
    font-family: var(--font-sans);
}

a {
    color: var(--gray-0);
}

#userheader {
    float: right;
}

#userheader>div {
    float: left;
    margin: 0 0.5em;
}

#userheader>img {
    float: right;
    margin: 0 0.5em;
}

/* @import url('https://unpkg.com/css.gg@2.0.0/icons/css/play-button-o.css'); */

.day {
    display: inline-block;
    width: 10vw;
    height: 10vw;
    border: 1px solid var(--gray-9);
    font-size: 0.75em;
}

.month {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
}

.control {
    display: inline;
    margin: 0.5em 0.5em 0.5em 0.5em;
}